@import '../../../../colors';

:host {
    display: flex;
    flex-direction: column;
    border: 2px solid $blue;
    border-radius: 2rem;
    padding: 2rem;
    > p {
        text-align: center;
        margin: 0;
    }
    > button {
        align-self: center;
        margin: 5rem 0 2rem 0;
    }

}