<article>
    <header>
        <h3>Posts</h3>
        <a [routerLink]="['/post']">Añadir post</a>
    </header>
    <ng-container [formGroup]="searchForm">
        <input type="text" formControlName="search">
    </ng-container>
    <div>
        <div *ngFor="let post of posts | filterBy: [searchForm.get('search').value, ['slug', 'title']]" [routerLink]="['/post', post.slug]">
            <div>
                <p>{{post?.title}}</p>
            </div>
            <div>
                <p>{{post?.slug}}</p>
            </div>
            <i class="fas fa-trash" (click)="deletePost(post, $event)"></i>
        </div>
    </div>
</article>