@import '../../../colors';
div {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
    >header {
        height: 60px;
    }
    >main {
        display: flex;
        flex-direction: row;
        height: calc(100% - 60px);
        z-index: 1;
        >app-aside {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 180px;
        }
        >section {
            display: flex;
            flex-direction: column;
            width: calc(100% - 180px);
            height: 100%;
            overflow-y: auto;
        }
    }
    >i {
        position: absolute;
        width: 75vw;
        height: 75vw;
        bottom: 0;
        left: 0;
        border-radius: 100vw;
        background-color: rgba($brown, .25);
        transform: translate(-65%, 50%);
        &:before {
            content: '';
            position: absolute;
            width: 50vw;
            height: 50vw;
            bottom: 0;
            left: 0;
            border-radius: 100vw;
            background-color: rgba($brown, .5);
            transform: translate(100%, 0%);
        }
    }
}